.bcorpImage {
  height: auto;
  max-width: 65px;
  background-color: white;
}

.gotsImage {
  height: auto;
  max-width: 100px;
  background-color: white;
}

.imgContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
