.dppIcon {
  height: auto;
  padding: 10px;
  width: 65px;
  background-color: white;
}

.header {
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 5px 5px 5px #e8e8e8;
  background-color: white;
  width: 100vw;
}
