.footerP {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 5px -5px 5px #e8e8e8;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
  background-color: white;
  padding-bottom: 10px;
}

.footer b {
  background-color: white;
}

.footer {
  display: flex;
  justify-content: center;
  position: relative;
}
