.image {
  width: 90%;
  height: 85vw;
  max-width: 388px;
  margin: 20px auto;
  border-radius: 10px;
}

.productName {
  margin-left: 20px;
  font-size: 26px;
}

.productBrand {
  margin-left: 20px;
  font-size: 15px;
}

.productLocation {
  margin-left: 20px;
  font-size: 13px;
  margin-bottom: 10px;
  font-style: italic;
}
.highlightDiv {
  display: flex;
  flex-direction: row;
}

.highlightContainer {
  display: flex;
  align-items: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pHighlightCard {
  background-color: transparent;
  margin-left: 20px;
  color: black;
  padding: 9px;
  font-size: 13px;
}
