.image {
  width: 90%;
  height: 65vw;
  max-width: 388px;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 10px;
}

.productName {
  margin-left: 20px;
  font-size: 26px;
}

.productBrand {
  margin-left: 20px;
  font-size: 15px;
}

.productLocation {
  margin-left: 20px;
  font-size: 13px;
  margin-bottom: 10px;
  font-style: italic;
}

.highlightDiv {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 30px;
  width: 80%;
  margin: 0 0 0 20px;
  padding: 0;
}

.highlightContainer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.highlightSVG {
  justify-content: center;
}

.pHighlightCard {
  background-color: transparent;
  color: black;
  margin: auto 0;
  padding-left: 5px;
  font-size: 13px;
}
