.accordion {
  --bs-accordion-btn-bg: var(--mainBgColour);
  margin: 0 auto;
  background-color: var(--mainBgColour);
  --bs-accordion-border-radius: 0;
  width: 90%;
}

/* Remove padding from collapsed buttons */
.accordion-button.collapsed {
  padding: 16px 0;
}

.accordion-button:not(.collapsed) {
  background-color: none;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: var(--mainBgColour);
}

.accordion-body {
  padding-top: 0;
  background-color: var(--mainBgColour);
}

.accordion-item {
  border-left: none;
  border-right: none;
  border-top: 2px solid #d0d3d5;
  border-bottom: 2px solid #d0d3d5;
  background-color: var(--mainBgColour);
}
