.accordion {
  --bs-accordion-btn-bg: white;
  margin: 0 0 5px 0;
  background-color: white;
  --bs-accordion-border-radius: 0;
}

.accordion-button:not(.collapsed) {
  background-color: none;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.accordion-body {
  padding-top: 0;
  background-color: white;
}

.accordion-item {
  border-left: none;
  border-right: none;
  border-top: 2px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}
