.image {
  height: auto;
  max-width: 50px;
  background-color: var(--mainBgColour);
}

.careInstructions {
  margin: 0;
  padding: 0;
}

.instructionItem {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: var(--mainBgColour);
}
.instructionItem span {
  background-color: var(--mainBgColour);
}
