.image {
  height: auto;
  width: 40px;
  background-color: var(--mainBgColour);
}

.careInstructions {
  margin: 0;
  padding: 0;
}

.instructionItem {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
  background-color: var(--mainBgColour);
}
.instructionItem span {
  background-color: var(--mainBgColour);
}

@media (min-width: 580px) {
  .careInstructions {
    display: flex;
    gap: 40px;
  }
}