.nav-link{
    color: black;
    transition: .5s ease-in-out,background-color .5s ease-in-out,border-color .5s ease-in-out
}

.nav-tabs{
    width: 100%
}

.carouselCard {
    width: 100%;
    height: 300px;
    background-color: var(--mainBgColour);
    padding: 20px;
  }

  .tab{
    background-color: white;
  }

  .tabText{
    background-color: white;
  }

  .fade{
    transition: opacity .5s linear;
  }