.materials{
width: 100%;
}

.nav-link{
    color: black;
    transition: .5s ease-in-out,background-color .5s ease-in-out,border-color .5s ease-in-out
}

.nav-tabs{
    display: flex;
}

.nav-item{
  background-color: #ebebea;
  width: 33%;
  height: 100%;
}

.nav-tabs .nav-link.active {
  background-color: green;
}

.tab{
  background-color: white;
}

.tabText{
  background-color: transparent;
}

.fade{
  transition: opacity .5s linear;
}