.main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.content,
.landing {
  scroll-snap-align: start;
  height: 100vh;
}

.content {
  overflow-y: auto;
}
