.form {
  display: flex;
  flex-direction: column;
  background-color: var(--mainBgColour);
}

.inputField {
  display: flex;
  gap: 5px;
  padding: 0 10px 0px 10px;
  background-color: var(--mainBgColour);
}

.recycleHeading {
  font-size: medium;
  padding: 10px 0;
  background-color: var(--mainBgColour);
}

.inputField button {
  display: block;
  background-color: var(--mainBgColour);
  border: 1px solid black;
  color: black;
  width: 20%;
  border-radius: 5px;
  padding: 5px;
}

.carouselItem {
  width: 100%;
  height: 400px;
  background-color: var(--mainBgColour);
  padding: 20px;
}

.shopCard {
  /* background: linear-gradient(to bottom right, rgb(244, 244, 244), rgb(222, 221, 221)); */
  margin: 0px 10px 10px 0px;
  padding: 10px;
  border-style: initial;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: var(--mainBgColour);
}

/* {
  margin: 25px 10px 10px 0px;
  padding: 10px;
  border-style: initial;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: white;
} */
.shopCard img {
  height: auto;
  max-width: 25px;
  background-color: var(--mainBgColour);
}

.shopCard p {
  display: flex;
  gap: 20px;
  background-color: var(--mainBgColour);
  /* padding-top: 10px; */
}
.shopCard h4 {
  padding-bottom: 10px;
  background-color: var(--mainBgColour);
}
.inputField input {
  background-color: var(--mainBgColour);
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px;
}

.hours {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  background-color: transparent;
}

.day {
  width: 10%;
  max-width: 10%;
  font-size: 12px;
  background-color: transparent;
}

.openingHours {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  background-color: transparent;
}

.openingHours img {
  align-self: start;
}
