.form {
  display: flex;
  flex-direction: column;
  background-color: var(--mainBgColour);
}

.inputField {
  display: flex;
  background-color: var(--mainBgColour);
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
}

.inputField i {
  font-size: 22px;
  float: right;
  background-color: black;
  color: white;
  padding: 8px
}

.recycleHeading {
  font-size: 16px;
  padding: 5px 0;
  background-color: var(--mainBgColour);
}

.inputField button {
  display: block;
  justify-self: flex-end;
  background-color: transparent;
  color: black;
  border: none;
  width: 10%
}

.carouselItem {
  width: 100%;
  height: 275px;
  background-color: var(--mainBgColour);
  padding: 20px;
}

.shopCard {
  /* background: linear-gradient(to bottom right, rgb(244, 244, 244), rgb(222, 221, 221)); */
  margin: 10px 10px 10px 0px;
  padding: 20px;
  border-style: initial;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: var(--mainBgColour);
}

/* {
  margin: 25px 10px 10px 0px;
  padding: 10px;
  border-style: initial;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: white;
} */
.shopCard img {
  height: auto;
  max-width: 25px;
  background-color: var(--mainBgColour);
}

.shopCard p {
  display: flex;
  font-size: 14px;
  gap: 20px;
  background-color: var(--mainBgColour);
  /* padding-top: 10px; */
}
.shopCard h4 {
  padding-bottom: 10px;
  font-size: 18px;
  background-color: var(--mainBgColour);
}
.inputField input {
  background-color: transparent;
  width: 90%;
  padding: 5px;
  border: none
}

.hours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  background-color: transparent;
}

.day {
  width: 10%;
  max-width: 10%;
  font-size: 12px;
  background-color: transparent;
}

.openingHours {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  background-color: transparent;
}

img {
  align-self: start;
}

.openingHours p {
  font-size: 12px;
}

/* Also hides arrows in materials */
.carousel-control-next-icon, .carousel-control-prev-icon  {
  display: none;
}

.recycleDiv {
  display: flex;
  gap: 5px;
  padding-bottom: 15px;
}

.recycleDiv h3, .recycleDiv img {
  margin: auto 0;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
}

.carousel-indicators {
  background-color: transparent;
}

.recycleNowLink {
  margin-top: 10px;
  text-align: center;
  margin-bottom: -5px;
}