/* landing-page.module.css */

.landingBackground {
  min-height: 100vh;
  position: relative;

  /* Your landing page styles */
}

.bgImage {
  opacity: 0.3;
  min-height: 100vh;
  object-fit: cover;
}

.hidden {
  display: none;
}

.landingText {
  position: absolute;
  top: 40%;
  background-color: transparent;
  width: 100%;
}

.landingText p {
  text-align: center;
  background-color: transparent;
  font-size: 18px;
}

.landingText b {
  background-color: transparent;
}

.header {
  position: absolute;
  top: 2%;
  font-size: 34px;
  background-color: transparent;
  width: 100%;
}

.header h1 {
  background-color: transparent;
  text-align: center;
  font-weight: 900;
}

.landingScroll {
  position: absolute;
  top: 80%;
  background-color: transparent;
  width: 100%;
}

.landingScroll p {
  background-color: transparent;
  text-align: center;
  margin-bottom: 0;
}
.landingScroll b {
  font-weight: 900;
}

.landingScroll img {
  background-color: transparent;
  width: 10%;
  margin: 0 auto;
}

.arrow {
  align-self: flex-end;
  animation: arrowBounce 2s infinite;
  margin: 0 auto;
  transform-origin: bottom;
}
.arrowBounce {
  animation-name: arrowBounce;
  animation-timing-function: ease;
}
@keyframes arrowBounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  75% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes fadeInUp1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp3 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  75% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}


.header.fadeInUpAnimation {
  animation: 1.5s fadeInUp1 ease-in-out;
  animation-delay: 0; 
}

.landingText.fadeInUpAnimation {
  animation: 2s fadeInUp2 ease-in-out;
}

.landingScroll.fadeInUpAnimation {
  animation: 2.5s fadeInUp3 ease-in-out;
}
